<%=render "shared/header"%>


<div  class = "container" >
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-left text-info" style="   padding-left: 1px; margin-left: 18px;">
				Movie Details::

			</h2>
		</div>
	</div>


<div class="container" style="    margin-left: 18px;padding-left: 1px;">
	<div class="row">
		<div class="" >
		
      <button style= "font-size: 20px"; type="button" class="btn btn-primary  viewed   " >
			
        Top Viewed
			</button>
		
			<button style= "font-size: 20px"; type="button" class="btn btn-success  rated  " >
				Top Rated
			</button>
		</div>
	</div>
</div>


<%if  @toss=="view" %> 
<% style = "display:block;"%>
<% else %>
<% style = "display:none;"%>
<% end %>

<div class ="container" style="
    margin-left: 0px;
    width: 1155px;
    padding-left: 3px;
">
	<div id= views ;  style =<%= style %> >
		<div class="row">
			<div class="">
				<%view_title=Array.new%>
				<%view_count=Array.new%>
				
				<%@view_order.each do |view|%>
				<%@top_views= Movie.find_by(id: view.movie_id)%>
					
					<%view_title.push(@top_views.title)%>
					<%view_count.push(view.count)%>

					<div class="col-md-3">
						<a href="<%= movie_path(@top_views)%>">
						<img style="height:300px; width:300px" alt="Bootstrap Image Preview" src="<%= @top_views.image_url %>" class="img-thumbnail"/>
						</a>
        				<h3 class="text-primary  text-left" >
						<%=@top_views.title%>
						</h3>
		   			</div>
				<%end%>		
        	</div>
        <canvas id="doughnut-chart" width="900" height="350"></canvas>

        </div>
     </div>

</div>


<%if  @toss=="rating" %> 
<% style = "display:block;"%>
<% else %>
<% style = "display:none;"%>
<% end %>

<div id= "rating"  style=<%= style %>>
	<div class ="container">
		<div class="row">
			<div class="">
				<%@rating.each do |view|%>
					<div class="col-md-3">
						<a href="<%= movie_path(view)%>">
						<img style="height:300px; width:300px" alt="Bootstrap Image Preview" src="<%=view.image_url %>" class="img-thumbnail"/>
						</a>
        				<h3 class="text-primary  text-left" >
						<%=view.title%>
						</h3>
		   			</div>
				<%end%>		
        	</div>
        </div>
    </div>
        <canvas id="doughnut-chart1" width="900" height="350"></canvas>

</div>


<%if  @toss=="view" || @toss=="rating" %> 
<% style = "display:none;"%>
<% else %>
<% style = "display:block;"%>
<% end %>


<div id ="search1"  style = <%= style %> >

<% if !@searched_movies.present?%>
<h1><b>Sorry, Searched Movie is not Present</b></h1><%else%>

	
	<div class ="container">
		<div class="row">
			<div class="">
				<%@searched_movies.each do |view|%>
					<div class="col-md-3">
						<a href="<%= movie_path(view)%>">
						<img style="height:300px; width:300px" alt="Bootstrap Image Preview" src="<%=view.image_url %>" class="img-thumbnail"/>
						</a>
        				<h3 class="text-primary  text-left" >
						<%=view.title%>
						</h3>
		   			</div>
				<%end%>		
        	</div>
        </div>
    </div>
</div>
<%end%>
</div>


<%=render "shared/footer"%>

<!--script type="text/javascript">

function myViews() 
{
   document.getElementById('views').style.display = "block";
}
   function myRatings() 
   {
   
   document.getElementById('rating').style.display = "block";
}

</script-->
<%titles=Array.new%>
<%rating=Array.new%>
<%@rating1=Movie.all%>
<%@rating1[0..9].each do |movie|%>
	<%titles.push(movie.title)%>
	<%rating.push(movie.rating)%>
<%end%>
<script>
jQuery(document).ready(function(){

 	jQuery(document).on("click",".viewed",function(){
    jQuery("#rating").css("display","none");
    jQuery("#views").css("display","block");
 	jQuery("#search1").css("display","none");
 
 })
  
    jQuery(document).on("click",".rated",function(){
    	jQuery("#views").css("display","none");
 	jQuery("#search1").css("display","none");
    jQuery("#rating").css("display","block");
    })
});

new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: <%=view_title.inspect.html_safe%>,
      datasets: [
        {
          label: "Views",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95ff","#fffeee","#effeee "],
          data: <%=view_count.inspect.html_safe%>
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Top 10 Viewed Movies'
      }
    }
});

new Chart(document.getElementById("doughnut-chart1"), {
    type: 'doughnut',
    data: {
      labels: <%=titles.inspect.html_safe%>,
      datasets: [
        {
          label: "Views",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95ff","#fffeee","#effeee "],
          data: <%=rating.inspect.html_safe%>
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Top 10 Viewed Movies'
      }
    }
});

</script>

















