<%=render "shared/header"%>

<div class = "container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-left text-info">
				Movie Details::

			</h3>
		</div>
	</div>


<div class="container">
	<div class="row">
		<div class="">
		
      <button style= "font-size: 20px"; type="button" class="btn btn-primary  viewed   " >
			
        Top Viewed
			</button>
		
			<button style= "font-size: 20px"; type="button" class="btn btn-success  rated  " >
				Top Rated
			</button>
		</div>
	</div>
</div>


<%if  @toss=="view" %> 
<% style = "display:block;"%>
<% else %>
<% style = "display:none;"%>
<% end %>

<div class ="container">
	<div id= views ;  style =<%= style %> >
		<div class="row">
			<div class="">
				<%@view_order.each do |view|%>
				<%@top_views= Movie.find_by(id: view.movie_id)%>
					<div class="col-md-3">
						<a href="<%= movie_path(@top_views)%>">
						<img style="height:300px; width:300px" alt="Bootstrap Image Preview" src="<%= @top_views.image_url %>" class="img-thumbnail"/>
						</a>
        				<h3 class="text-primary  text-left" >
						<%=@top_views.title%>
						</h3>
		   			</div>
				<%end%>		
        	</div>
        </div>
     </div>
</div>


<%if  @toss=="rating" %> 
<% style = "display:block;"%>
<% else %>
<% style = "display:none;"%>
<% end %>

<div id= "rating"  style=<%= style %>>
	<div class ="container">
		<div class="row">
			<div class="">
				<%@rating.each do |view|%>
					<div class="col-md-3">
						<a href="<%= movie_path(view)%>">
						<img style="height:300px; width:300px" alt="Bootstrap Image Preview" src="<%=view.image_url %>" class="img-thumbnail"/>
						</a>
        				<h3 class="text-primary  text-left" >
						<%=view.title%>
						</h3>
		   			</div>
				<%end%>		
        	</div>
        </div>
    </div>
</div>



<% if @searched_movies.blank? %>

<% else %>
<div id ="search1"  style = "display : block" >
	<div class ="container">
		<div class="row">
			<div class="">
				<%@searched_movies.each do |view|%>
					<div class="col-md-3">
						<a href="<%= movie_path(view)%>">
						<img style="height:300px; width:300px" alt="Bootstrap Image Preview" src="<%=view.image_url %>" class="img-thumbnail"/>
						</a>
        				<h3 class="text-primary  text-left" >
						<%=view.title%>
						</h3>
		   			</div>
				<%end%>		
        	</div>
        </div>
    </div>
</div>


<% end %>

<%=render "shared/footer"%>

<!--script type="text/javascript">

function myViews() 
{
   document.getElementById('views').style.display = "block";
}
   function myRatings() 
   {
   
   document.getElementById('rating').style.display = "block";
}

</script-->

<script>
jQuery(document).ready(function(){

 	jQuery(document).on("click",".viewed",function(){
    jQuery("#rating").css("display","none");
    jQuery("#views").css("display","block");
 	jQuery("#search1").css("display","none");
 
 })
  
    jQuery(document).on("click",".rated",function(){
    	jQuery("#views").css("display","none");
 	jQuery("#search1").css("display","none");
    jQuery("#rating").css("display","block");
    
 
 })




});
</script>

















