
  
  
    <div class="container">
	<div style="background:black ;margin-left: 0px; margin-right: 0px;" class="row">
		<div class="col-md-12" >
			<h3 class="text-primary">
			<%= link_to "Movie Store" , movies_path%>
			</h3>
		</div>
	</div>
	
	
	<div class="row"  style=" border-top: 1px solid #ffffff;">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> 

				
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background:black">
					<ul class="nav navbar-nav">
						<li class ="active">
							<%= link_to "Home" , movies_path%>
									</li>
												
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<%= text_field_tag :search, params[:search],class:"form-control",placeholder: "Search Movies" %>
							
						</div> 
						<button type="submit" class="btn btn-default">
							Submit
						</button>
					
					</form>
					


					<%if user_signed_in?%>
						
					<ul class="nav navbar-nav navbar-right ">
						<li style="font-size: 24px">
									

									<%= link_to "Sign Out" , destroy_user_session_path , method: :delete%>
								
								</li>
						<li class="dropdown" style="font-size: 24px">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<strong class="caret"></strong></a>
							

							<ul class="dropdown-menu">
									
								<li>
									<%= link_to "Sign Out" , destroy_user_session_path , method: :delete%>
								</li>
								<li class="divider">
								</li>
								
							</ul>
						</li>
					</ul>
					
					<%else%>
					<ul class="nav navbar-nav navbar-right ">
						
						<li style="font-size: 24px">
									
									<%= link_to "Sign Up" ,  new_user_registration_path %>
								</li>

								<li style="font-size: 24px">
									<%= link_to "Log In" ,  new_user_session_path %>
								</li>

						
						<li class="dropdown" style="font-size: 24px">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
									
								

								<li >
									<%= link_to "Sign Up" ,  new_user_registration_path %>
								</li>
								<li class="divider">
								</li>
								
								<li>
									<%= link_to "Log In" , new_user_session_path %>
								</li>
								
							</ul>
						</li>
					</ul>
								





					<%end%>
				</div>
				
			</nav>
		</div>
	</div>
</div>