<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="container-fluid">
        <div class="container" style="padding-left: 165px;padding-right: 135px;width: 700px; border-style: outset ;margin-top:70px; background-color: #ff00008f    border-width: 10px; background-color: #e7e7e7">
            <div class="col-md-12">
               <form role="form">
                  <h2 style="text-align: center;">Log In</h2>
                  <hr style=" border-style: inset;border-width: 1px;">
                  <div class="form-group">

                        <label for="exampleInputEmail1">
                            Email address
                        </label>
                        <br>
                        <%= f.email_field :email, autofocus: true , class: "form-control", required: true %>
                  </div>

                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">
                            Password
                            <br>
                        </label>

                        <%= f.password_field :password, autocomplete: "off" , class: "form-control", required: true %>
                     </div>

                    <div class="actions">
                        <%= f.submit "Log in" %><br>
            <br>

                    </div>
               </form>     
            </div>
                      <%= render "devise/shared/links" %>
         </div>
      
<% end %>

                        

  